*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subs{
    text-align: center;
    margin: 5% 8em;
    align-items: center;
}

.subscribe h2{
    font-size: 30px;
}

.subscribe p{
    margin: 20px 0 30px 0;
    font-size: 13px;
    color: #7f7f80;
}

.form{
    box-shadow: #00000023 0px 8px 24px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
}

#email{
    border: 0px;
    border-radius: 2px;
    padding: 12px 50px;
    
}

.form a{
    border: 0px solid #2774ea;
    background: #2774ea;
    color: #fff;
    text-decoration: none;
    padding: 12px 12px;
    margin-left: -5px;
    font-size: 14px;
    border-radius: 3px;
}